refresh_rate: 30 seconds
appenders:
  stdout:
    kind: console
  requests:
    kind: file
    path: "log/requests.log"
    encoder:
      pattern: "{d} - {m}{n}"
root:
  level: info
  appenders:
    - stdout
    - requests
loggers:
  app::backend::db:
    level: info
  app::requests:
    level: info
    appenders:
      - requests
      - stdout
    additive: false
